.img{
    width: 100px;
    height: 100px;
    border-radius:50%;
}
.net{
    color: royalblue;
    font-family: 'Montserrat', sans-serif;
    font-size: 3pc;
}
.new{
    color: slateblue;
}
*{
    background-color:thistle;
}